.card--rs-c6b395a1e8e9 {
  color: red;
}

.card--rs-c6b395a1e8e9:hover {
  color: blue;
}

.card--rs-c6b395a1e8e9 {
  background-color: white;
}

@media (max-width: 640px) {
  .card--rs-c6b395a1e8e9 {
    width: 100%;
  }
}

.card--rs-c6b395a1e8e9 {
  opacity: 1;
}
