[package]
name = "backends"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
tokio = { workspace = true }
thiserror = { workspace = true }
async-trait = { workspace = true }
chrono = { workspace = true }
serde_json = { workspace = true }
serde = { workspace = true }
sqlx = { workspace = true, features = ["chrono", "runtime-tokio"] }
sea-query = { version = "1.0.0-rc.1", features = [
  "backend-postgres",
  "backend-mysql",
  "backend-sqlite",
] }
sea-query-binder = { version = "0.7", features = [
  "sqlx-postgres",
  "sqlx-mysql",
  "sqlx-sqlite",
] }

[dev-dependencies]
tokio = { workspace = true, features = ["macros", "rt"] }

[features]
default = ["postgres"]
postgres = []
mysql = []
sqlite = []
all-databases = ["postgres", "mysql", "sqlite"]
