[package]
name = "reinhardt-throttling"
version = "0.1.0-alpha.1"
edition = "2024"
license = "MIT OR Apache-2.0"
description = "Rate limiting for Reinhardt framework"
repository.workspace = true

[dependencies]
reinhardt-apps = { workspace = true }
reinhardt-di = { workspace = true }
async-trait = "0.1"
tokio = { version = "1.0", features = ["sync", "time"] }
redis = { version = "1.0.0-rc.2", features = [
  "tokio-comp",
  "connection-manager",
], optional = true }
thiserror = "2.0.17"
parking_lot = "0.12"
maxminddb = { version = "0.26.0", optional = true }

[features]
default = []
redis-backend = ["redis"]
geo-limiting = ["maxminddb"]

[dev-dependencies]
tokio = { version = "1.0", features = ["full", "test-util"] }
tokio-test = { workspace = true }
