[package]
name = "utils-core"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
chrono = { workspace = true }

[dev-dependencies]
proptest = { workspace = true }
